.HoleArea {
    background-color: rgb(246, 242, 242);
    padding: 15px;
}

.bottomElems span {
    background-color: lightgrey;
    color: rgb(65, 182, 143);
}

.tags {
    color: red;
}

.tagsInText {
    color: red;
    background-color: rgb(222, 216, 216);
}

.codeBlock {
    background-color: lightgrey;
}